* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
}

/* Sections */
section {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

/* About */
.about {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

/* Skills */
.skills ul {
    list-style: none;
}

.skills li {
    background: #333;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Projects */
.project-card {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Contact */
.contact p {
    margin: 10px 0;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}




@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    section {
        padding: 20px;
    }
}